@use '../variables';

.page-content {
    width: 100%;
    min-height: 100vh;
    padding-top: 2.4rem;
    padding-bottom: 7.2rem;
    background-image: url("/src/assets/images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: auto 7.2rem;

    @media screen and (min-width: variables.$screen-md) {
        padding-top: 4.8rem;
        padding-bottom: 15.4rem;
        background-size: auto 15.4rem;
    }
}