@use '../variables';

.slider-controller {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 6.4rem;
    height: 3.2rem;
    border-radius: 9999px;
    background-color: #fff;

    @media screen and (min-width: variables.$screen-xs) {
        width: 8rem;
        height: 4rem;
    }

    @media screen and (min-width: variables.$screen-md) {
        width: 11.2rem;
        height: 5.6rem;
    }

    @media screen and (min-width: variables.$screen-lg) {
        left: 6.4rem;
        transform: translate(0, 50%);
    }

    > .button {
        display: flex;
        width: 3.2rem;
        height: 3.2rem;
        transition: opacity 150ms;
        cursor: pointer;

        @media screen and (min-width: variables.$screen-xs) {
            width: 4rem;
            height: 4rem;
        }

        @media screen and (min-width: variables.$screen-md) {
            width: 5.6rem;
            height: 5.6rem;
        }

        &.-left {
            border-top-left-radius: 9999px;
            border-bottom-left-radius: 9999px;
        }

        &.-right {
            border-top-right-radius: 9999px;
            border-bottom-right-radius: 9999px;
        }

        &.swiper-button-disabled {
            opacity: 0.4;
        }
    }

    > .button > .arrow {
        width: auto;
        height: 1rem;
        margin: auto;

        @media screen and (min-width: variables.$screen-xs) {
            height: 1.4rem;
        }

        @media screen and (min-width: variables.$screen-md) {
            height: 1.8rem;
        }
    }
}