@use '../variables';

.slide-text {
    width: 100%;
    height: auto;

    > .paragraph {
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 2.4rem;
        color: variables.$color-dark-blue;
        margin-bottom: 1.6rem;

        @media screen and (min-width: variables.$screen-md) {
            font-size: 3.2rem;
            line-height: 4.4rem;
            margin-bottom: 3.2rem;
        }
    }

    > .name {
        font-size: 1.5rem;
        font-weight: 700;
        color: variables.$color-dark-blue;
        margin-bottom: 0.4rem;

        @media screen and (min-width: variables.$screen-md) {
            font-size: 2rem;
            margin-bottom: 0.8rem;
        }

        @media screen and (min-width: variables.$screen-lg) {
            display: inline-block;
            margin-right: 0.4rem;
            margin-bottom: 0;
        }
    }

    > .job {
        font-size: 1.5rem;
        font-weight: 500;
        color: variables.$color-grayish-blue;

        @media screen and (min-width: variables.$screen-md) {
            font-size: 2rem;
        }

        @media screen and (min-width: variables.$screen-lg) {
            display: inline-block;
        }
    }
}